.catCard {
  width: 252px;
  height: 344px;
  color: white;
  border-radius: 5px;
  position: relative;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .desc {
    font-weight: 300;
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .title {
    position: absolute;
    top: 40px;
    left: 15px;
    font-size:24px;
    font-weight: 500;
  }
}

@media (max-width: 1024px) {
  .catCard {
    width: 200px;
    height: 280px;

    .title {
      font-size: 20px;
    }
  }
}

@media (max-width: 768px) {
  .catCard {
    width: 160px;
    height: 220px;

    .title {
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .catCard {
    width: 100%;
    height: 200px;

    .title {
      font-size: 16px;
    }

    .desc {
      font-size: 14px;
    }
  }
}