.slide {
  display: flex;
  justify-content: center;
  padding: 100px 0px;
  
  .container {
    width: 1400px;
    position: relative;
  }

  .carousel-initialized {
    position: static;
  }

  .carousel-prev,
  .carousel-next {
    width: 50px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .carousel-prev {
    left: -25px;
  }
}

@media (max-width: 1200px) {
  .slide .container {
    width: 1000px;
  }
}

@media (max-width: 992px) {
  .slide {
    padding: 70px 0;
  }
  .slide .container {
    width: 90%;
  }
  .carousel-prev,
  .carousel-next {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .slide {
    padding: 50px 0;
  }
  .slide .container {
    width: 95%;
  }
  .carousel-prev,
  .carousel-next {
    display: none;
  }
}

@media (max-width: 480px) {
  .slide {
    padding: 30px 0;
  }
  .slide .container {
    width: 100%;
  }
}






