.success {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6fff8;
  color: #013914;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding: 20px;
  line-height: 1.6;
}

.success span {
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #555;
}

@media (max-width: 768px) {
  .success {
    font-size: 18px;
    padding: 15px;
  }

  .success-box {
    width: 90%;
  }

  .success h2 {
    font-size: 20px;
  }

  .success span {
    font-size: 14px;
  }
}