.footer {
  display: flex;
  justify-content: center;
  color: #666;
  margin: 50px 0px;

  img {
    width: 24px;
    height: 24px;
  }

  .container {
    width: 1400px;
    .top {
      display: flex;
      justify-content: space-between;
      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 16px;
          color: #555;
        }
        span {
          font-weight: 300;
        }
      }
    }

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid #ebe9e9;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }
      .right {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 30px;

        .social {
          display: flex;
          gap: 20px;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .footer {
    .container {
      width: 1000px;

      .top {
        gap: 20px;
        .item {
          h2 {
            font-size: 15px;
          }
          span {
            font-size: 14px;
          }
        }
      }

      .bottom {
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 992px) {
  .footer {
    margin: 30px 0;

    .container {
      width: 90%;

      .top {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;

        .item {
          width: 45%;
          align-items: center;
          text-align: center;
        }
      }

      .bottom {
        flex-direction: column;
        gap: 20px;

        .left, .right {
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .footer {
    .container {
      .top {
        flex-direction: column;
        align-items: center;

        .item {
          width: 100%;
          gap: 10px;

          h2 {
            font-size: 14px;
          }

          span {
            font-size: 13px;
          }
        }
      }

      hr {
        margin: 30px 0;
      }

      .bottom {
        text-align: center;

        .left {
          flex-direction: column;
          gap: 5px;
        }

        .right {
          flex-direction: column;
          gap: 10px;

          .social {
            justify-content: center;
          }
        }
      }
    }
  }
}
