.message {
  display: flex;
  justify-content: center;
  .container {
    width: 1200px;
    margin: 50px;
    .breadcrumbs {
      font-weight: 300;
      font-size: 13px;
      color: #555;
    }
    .messages {
      margin: 30px 0px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 500px;
      overflow: scroll;

      .item {
        display: flex;
        gap: 20px;
        max-width: 600px;
        font-size: 18px;

        &.owner {
          flex-direction: row-reverse;
          align-self: flex-end;

          p {
            max-width: 500px;
            border-radius: 20px 0px 20px 20px;
            background-color: royalblue;
            color: white;
          }
        }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          max-width: 500px;
          padding: 20px;
          background-color: rgb(244, 241, 241);
          border-radius: 0px 20px 20px 20px;
          color: gray;
          font-weight: 300;
        }
      }
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(232, 230, 230);
      margin-bottom: 20px;
    }

    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        width: 80%;
        height: 100px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
      }

      button{
        background-color: #1dbf73;
        padding: 20px;
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 100px;
      }
    }
  }
}
@media (max-width: 992px) {
  .message .container {
    width: 90%;
    margin: 30px;
  }

  .message .messages {
    padding: 30px;
    height: 400px;
  }

  .message .item p {
    font-size: 16px;
    padding: 15px;
  }

  .message .write textarea {
    height: 80px;
  }
}

@media (max-width: 768px) {
  .message .container {
    margin: 20px;
    width: 100%;
  }

  .message .messages {
    padding: 20px;
    height: 350px;
  }

  .message .item {
    max-width: 100%;
  }

  .message .item p {
    font-size: 15px;
    padding: 12px;
  }

  .message .write {
    flex-direction: column;
    gap: 10px;
  }

  .message .write textarea {
    width: 100%;
    height: 80px;
  }

  .message .write button {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .message .container {
    margin: 10px;
  }

  .message .messages {
    padding: 15px;
    height: 300px;
  }

  .message .item img {
    width: 35px;
    height: 35px;
  }

  .message .item p {
    font-size: 14px;
    padding: 10px;
  }

  .message .write textarea {
    height: 70px;
    font-size: 14px;
  }

  .message .write button {
    padding: 12px;
    font-size: 14px;
  }
}